*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: "PT Sans";
}

#slider{
  background-color: #fcdb00;
  padding-top: 30px;
  padding-bottom: 30px;
}

a{
  text-decoration: none;
}

header{
  width: 80%;
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 80px;
}

header a{
  color: black;
}



.settings{
  float: left;
  vertical-align: middle;
  font-size: 18px;
}

.logo{
  display: inline-block;
  vertical-align: middle;
  line-height: 80px;
}

.logo img, .logo p{
  display: inline-block;
  vertical-align: middle;
}

.logo p{
  padding-left: 5px;
  font-weight: bold;
  font-size: 30px;
}

nav{
  float: right;
  vertical-align: middle;
  font-size: 18px;
}

nav ul{
  list-style: none;
}

nav ul li{
  display: inline;
  padding-left: 10px;
}

.title{
  width: 60%;
  margin: 0 auto;
  margin-top: 200px;
}

.title h1, .title p{
  text-align: center;
  margin-bottom: 20px;
}

.title h1{
  font-size: 50px;
}

.title p{
  font-size: 18px;
}

.title div{
  text-align: center;
}

.title div i{
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
  border: 1.5px black solid;
  font-size: 28px;
}

.fa-android{
  margin: 0 20px;
}

.dots{
  text-align: center;
  margin-top: 150px;
}


.one{
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
}

.two, .three{
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
}

.two{
  margin: 0 2px;
}

#features{
  padding-top: 75px;
  padding-bottom: 75px;
}

.feat-title{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.feat-title h2, .feat-title p{
  text-align: center;
  margin-bottom: 10px;
}

.feat-title h2{
  font-size: 35px;
}

.feat-title p{
  font-size: 18px;
}

.information{
  text-align: center;

}

.left-info{
  display: inline-block;

  width: 15%;
  vertical-align: middle;
}

.central-info{
  display: inline-block;
  vertical-align: middle;
  margin: 0 70px;
  width: 20%;
}

.right-info{
  display: inline-block;

  width: 15%;
  vertical-align: middle;
}

.left-info div, .right-info div{
  margin-bottom: 50px;
  text-align: left;
}

.left-info div p, .right-info div p{
  margin-top: 10px;
  color: #c4c4c4;
}

.left-info div h3, .right-info div h3{
  font-size: 25px;
}

#subcrible{
  background-color: black;
  padding-top: 50px;
  padding-bottom: 150px;
}

.sub-title{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.sub-title h2, .sub-title p{
  text-align: center;
  margin-bottom: 10px;
}

.sub-title h2{
  font-size: 35px;
  color: #fcdb00;
}

.sub-title p{
  font-size: 18px;
  color: #c4c4c4;
}

form{
  text-align: center;
  margin-bottom: 70px;
}

form [type=email]{
  width: 40%;
  height: 35px;
  border-radius: 5px;
  border: 0 black solid;
  padding-left: 20px;
}

form [type=submit]{
  margin-left: 10px;
  background-color: #fcdb00;
  border-radius: 5px;
  border: 0 black solid;
  height: 35px;
  font-weight: bold;
  width: 100px;
}

form [type=submit]:hover{
  background-color: white;
}

footer{
  text-align: center;
}

footer p, footer a{
  color: white;
}

footer div{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 0 2%;
}

.contacts{
  width: 200px;
}

footer div a{
  display: block;
}
